In [1]:
import pandas as pd

Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [13]:
rating=pd.read_csv('ratings.csv')
rating.head(5)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
def class_(column):
    if column <= 2.0:
        return 'Низкий рейтинг'
    if column <= 4.0:
        return 'Средний рейтинг'
    if column == 4.5 or column == 5.0:
        return 'Высокий рейтинг'
    return False

In [4]:
rating['class_'] = rating['rating'].apply(class_)
rating.head(15)

    userId  movieId  rating   timestamp           class_
0        1       31     2.5  1260759144  Средний рейтинг
1        1     1029     3.0  1260759179  Средний рейтинг
2        1     1061     3.0  1260759182  Средний рейтинг
3        1     1129     2.0  1260759185   Низкий рейтинг
4        1     1172     4.0  1260759205  Средний рейтинг
5        1     1263     2.0  1260759151   Низкий рейтинг
6        1     1287     2.0  1260759187   Низкий рейтинг
7        1     1293     2.0  1260759148   Низкий рейтинг
8        1     1339     3.5  1260759125  Средний рейтинг
9        1     1343     2.0  1260759131   Низкий рейтинг
10       1     1371     2.5  1260759135  Средний рейтинг
11       1     1405     1.0  1260759203   Низкий рейтинг
12       1     1953     4.0  1260759191  Средний рейтинг
13       1     2105     4.0  1260759139  Средний рейтинг
14       1     2150     3.0  1260759194  Средний рейтинг

Задание 2

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Результат классификации запишите в отдельный столбец region.

In [5]:
geo=pd.read_csv('keywords.csv')
geo.head(5)

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [6]:
def region(column):
    if 'москва' in column['keyword'] or 'тула' in column['keyword'] or 'ярославль' in column['keyword']:
        return 'Центр'
    if 'петербург' in column['keyword'] or 'псков' in column['keyword'] or 'мурманск' in column['keyword']:
        return 'Северо-Запад'
    if 'владивосток' in column['keyword'] or 'сахалин' in column['keyword'] or 'хабаровск' in column['keyword']:
        return 'Дальний Восток'
    
    return 'undefined'

In [9]:
geo['region'] = geo.apply(region, axis=1)
geo.head(15)

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
5   одноклассники моя страница  19976138  undefined
6                         майл  15144673  undefined
7                        авито  14786593  undefined
8                   переводчик  14453469  undefined
9                       яндекс  13344734  undefined
10             сбербанк онлайн  10725673  undefined
11                        mail   7687204  undefined
12                        игры   6075762  undefined
13                     youtube   5729958  undefined
14      вконтакте моя страница   5971451  undefined

In [10]:
geo_centre = geo[geo['region'] == 'Центр']
geo_centre.head()

               keyword   shows region
127       авито москва  979292  Центр
849    авито ярославль  209581  Центр
1259            москва  153050  Центр
1396   гисметео москва  140279  Центр
1482  госуслуги москва  133061  Центр

In [11]:
geo_centre = geo[geo['region'] == 'Северо-Запад']
geo_centre.head()

                                                keyword   shows        region
370                            авито ру санкт петербург  425134  Северо-Запад
564                           погода в санкт петербурге  292489  Северо-Запад
1236                               банк санкт петербург  174375  Северо-Запад
1346                                    санкт петербург  144232  Северо-Запад
2121  электронный дневник санкт петербургского образ...   94835  Северо-Запад

In [12]:
geo_centre = geo[geo['region'] == 'Дальний Восток']
geo_centre.head()

                  keyword   shows          region
1063  фарпост владивосток  176951  Дальний Восток
2175       дром хабаровск   98361  Дальний Восток
3206     дром владивосток   73084  Дальний Восток
3275   100 сп владивосток   76418  Дальний Восток
3687      авито хабаровск   63736  Дальний Восток